.firstScreen {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video {
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

h2 .mobileHeader {
  display: inline-block;
  text-align: right;
}

.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10%;
  z-index: 100;
}

.heroSection h1 {
  line-height: 1.3;
  padding: 0;
}

.heroSection h2 {
  align-self: flex-start;
}

.boldText {
  font-weight: 700;
}

.links {
  display: none;
}

.linkBlock {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: last baseline;
}

.linkBlock h2 {
  align-self: flex-start;
}

.buttonSection p {
  display: inline-block;
  text-transform: uppercase;
}

.buttonSection {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  justify-content: flex-end;
  color: #fff;
}

.buttonOrder {
  position: absolute;
  bottom: 50px;
}

@media screen and (min-width: 400px) {
  .heroSection {
    padding: 10% 20%;
  }
  .linkBlock {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .heroSection {
    padding: 5% 20%;
  }
}
