.topContainer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  color: #fff;
  background-color: black;
  position: relative;
  z-index: 100;
}

.topContainerContacts {
  background-color: #fff;
}

.homePage {
  background-color: transparent;
}

.rightNavigation {
  display: flex;
  align-items: flex-end;
}

.topContainerContacts .logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

.buttonContainer {
  padding: 0 20px;
}
.topContainerContacts .buttonContainer {
  position: absolute;
  top: 60px;
  right: 20px;
}

.contactNav {
  width: 45vw;
  position: relative;
  top: 40vh;
  left: 10vw;
}

.columnNavigate {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 150px;
}

.navigateBlock {
  display: none;
}

.columnNavigate > li {
  font-size: 2em;
  line-height: 1.5;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.links {
  display: none;
}

li {
  line-height: 1.5;
  font-size: 0.8em;
}

li:hover {
  transition: 1s ease;
  transform: scale(1.2);
}

li a.active {
  display: none;
}

.oneLinkMenu {
  display: none;
}

@media screen and (min-width: 767px) {
  .navigateBlock {
    display: flex;
    width: 500px;
    min-width: 30vw;
  }

  .blackPages {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    text-transform: uppercase;
  }

  .navigateBlock {
    min-width: 50%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }

  .invisible {
    display: none;
  }
}
